{% extends "base.html.twig" %}
{% block title %}Profil | Mofifier mot de passe{% endblock %}
{% block body %}
    <!-- NAVIGATION -->
    {{ render(controller('App\\Controller\\Front\\FrontController::navigation')) }}

    <!-- /NAVIGATION -->
    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{{ path('index_page') }}">Acceuil</a></li>
                <li><a href="{{ path('fos_user_profile_edit') }}">Mon compte</a></li>
                <li class="active">Modifier mot de passe</li>
            </ul>
        </div>
    </div>
{% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
{% endblock %}
