{% extends "base.html.twig" %}
{% block title %}Login{% endblock %}

{% block body %}
    {{ render(controller('App\\Controller\\Front\\FrontController::navigation')) }}
    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{{ path('index_page') }}">Kaiser Mall</a></li>
                <li class="active">Login</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock body %}
