<div class="section">
    <!-- container -->
    <div class="container">
        <hr>
        <!-- row -->
        <div class="row">
            {% for banner in banners %}
                <!-- banner -->
                <div class="col-md-6 col-sm-6">
                    <a class="banner banner-1" href="#">
                        <img src="{{ asset('/uploads/banners/') }}{{ banner.image }}" alt="" style="height: 250px;">
                        <div class="banner-caption text-center">
                            <h4 class="white-color">NEW COLLECTION</h4>
                        </div>
                    </a>
                </div>
                <!-- /banner -->
            {% endfor %}

        </div>
        <!-- /row -->
        <hr>
    </div>
    <!-- /container -->
</div>