{% for slider in sliders %}
    <!-- banner -->
    <div class="banner banner-1" style="height: 300px;">
        <img src="{{ asset('/uploads/sliders/') }}{{ slider.image }}" alt="" style="height: 100%;">
        {#<div class="banner-caption text-center">
            <h1>Bags sale</h1>
            <h4 class="white-color font-weak">Up to 50% Discount</h4>
            <button class="primary-btn">Shop Now</button>
        </div>#}
    </div>
    <!-- /banner -->
{% endfor %}