.product-body{
        text-align: center;
    }
.loader {
    margin-left: 50%;
    margin-right: 50%;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #39b54a;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.hide-img-logo{
    width: 60px;
}
.user{
    width: 212px;
}
.hide-logo{
    margin-left: -64px;
    width: 60px;
}
.hide-search{
    max-width: 617px;
    width: 508px;
    margin-left: 322px;
}
.hide-cart{
    margin-right: -47px;
}
.hide-user{
    width: 177px;
    margin-right: -17px;
}
.sticky {
    z-index: 300;
    margin-top: -32px;
    position: fixed;
    width: 100%;
    box-shadow: 0 7px 7px 0 rgba(0,0,0,.15);
}

.menu-nav{
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.menu-list{
    display: none;
}
.home-wrap{
    position: relative;
    top: -81px;
}
.bouton-gris{
    background-color: #FFF;
    color: #78909c;
    border: 1px solid #78909c;
    text-decoration: none;
    padding: 2px 10px;
    border-radius: 20px;
}
.bouton-gris:hover{
    background-color: #78909c;
    color: #FFF;
    text-decoration: none;
    padding: 2px 10px;
    border-radius: 20px;
}
.category-nav{
    border-bottom: 1px solid #78909c;
}
.container{
    margin-bottom: 30px;
}
.primary-btn{
    background-color: #39b54a;
}
.primary-btn:hover{
    background-color: #00e676;
    color: #fff;
}
.header-cart .header-btns-icon .qty{
    background-color: #39b54a;
}
.category-nav .category-header{
    background-color: #39b54a;
}
.noUi-connect{
    background: #39b54a;
}
.noUi-horizontal{
    height: 10px;
}
.noUi-horizontal .noUi-handle {
    width: 14px;
    height: 21px;
    left: -8px;
    top: -6px;
    background: #eee;
    border: 1px solid #ccc;
}
.noUi-handle:after, .noUi-handle:before{
    background: transparent;
}
.noUi-value-horizontal {
    top: 20px;
}
.filter-bloc{
    top: 59px;
    position: relative;
}
.list-products{
    padding-left: 37px;
}
.img-product-filter{
    height: 191px;
    margin-top: 35px;
    width: 100%;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #39b54a;
    border-color: #39b54a;
}
.pagination>.disabled>a,.pagination>li>a, .pagination>li>span{
    color: #39b54a;
    border: 1px solid #39b54a;
}
.pagination>li>a, .pagination>li>span {
    margin-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.cover-store{
    height: 300px;width: 100%;margin-bottom: 10px;
}
.logo-store{
    height: 250px;width: 250px;border-radius: 50%;border: 6px solid #fff;position: relative;
}
.bloc-logo-store{
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inscription-form{
    margin-left: 30%;margin-right: 30%;margin-top: 50px;
}
.slider-bloc{
    height: 482px;
}
.category-list .dropdown, .category-list .dropup {
    position: initial;
}
.custom-menu {
    -webkit-transition: 0s all;
    transition: 0s all;
}
.list-links li>a{
    text-transform: inherit;
}
.list-links .list-links-title{
    font-size: 14px;
}
.categories-sliders-bloc{
    
background-color: #fff;
    
padding-top: 20px;
    
width: 76%;
    
height: 416px;
    
position: relative;
    
left: 11%;
    
margin-bottom: 53px;
    
border: 1px solid #ccc;
}
.categorie-products{
    background-color: #fff;
    padding-top: 20px;
    width: 76%;
    position: relative;
    left: 11%;
    margin-top: 0;
    height: 471px;
    margin-bottom: 35px;
    border: 1px solid #ccc;
}
@media screen and (max-width: 450px){
    .slider-bloc{
        height: 250px;
    }
    .category-nav .category-list {
        width: 100%;
    }
    .input-login{
        width: 100%;
    }
    .btn-login{
        width: 100%;
    }
    .product.product-single .product-thumb>img{
        width: 56%;
        position: relative;
        left: 22%;
        margin-top: 34px;
        height: 126px;
    }
    .filter-bloc, .filter-price{
        display: none;
    }
    .mobile-filter{
        display: block;
        background-color: #fff;
        padding-bottom: 10px;
        box-shadow: 5px #ccc;
        z-index: 999;
    }
    #price-slider{
        width: 84%;
        margin-left: 8%;
    }
    .sticky {
        position: fixed;
        top: 32px;
        left: 6px;
        width: 69%;
        background: #fff;
        height: 56px;
    }
    .cover-store{
        height: 150px;
        width: 100%;
        margin-bottom: -41px;
    }
    .bloc-logo-store {
        position: relative;
        top: 54%;
        left: 50%;
        /* transform: translate(-50%, -50%); */
    }
    .header-search{
        width: 104%;
        max-width: 600px;
    }
    .header-btns{
        position: relative;
        top: -200px;
        left: 220px;
        width: 50%;
        height: 10%;
    }
    .header-logo .logo>img {
        width: 50%;
        height: 47px;
        /* max-height: 46px; */
    }
    #header .categories{
        display: none;
    }
    #header{
        height: 146px;
    }
    .inscription-form{
        margin: 0;
    }
    .category-nav {
        border-bottom: 0px solid #78909c;
    }
    #list-produits .col-xs-6{
        width: 50%;
        padding-right: 11px;
        padding-left: 18px;
    }
    .logo-store {
        position: relative;
        top: 50px;
        height: 100px;
        width: 100px;
    }
}
@media screen and (min-width: 450px){
    
    .input-login{
        width: 50%;
    }
    .header-search{
        max-width: 605px;
        width: 427px;
    }
    .btn-login{
        width: 50%;
    }
}
@media screen and (min-width: 750px){
    .filter-bloc, .filter-price{
        display: block;
    }
    .mobile-filter{
        display: none;
    }
}
@media screen and (max-width: 450){

    .header-search{
        max-width: 605px;
        width: 427px;
    }
    .input-login {
        width: 100%;
    }
    .btn-login {
        width: 100%;
    }
    .register-link{
        width: 100%;
    }
}
