{% for store in stores %}
    <li class="menu-dropdown">
        <a href="{{ path('marchand_stores_details', {id:store.id}) }}" target="_blank" class="tooltips" data-container="body" data-placement="bottom" data-html="true" data-original-title="AngularJS version demo">
            Infos génerales </a>
    </li>
{% endfor %}