<script>
    /// Filter by caractéristiques(couleur, taille, genre.....)
        var categorie =$('#categorieId').val();
        var caracteristiques = [];
        $('.valeur').change(function(){
            var myVal = $(this).val();
            if($(this).prop("checked")){
                caracteristiques.push($(this).val());
            }else{
               caracteristiques = caracteristiques.filter(function(elem){
                    return elem != myVal; 
                 });
            }
            $.ajax({
                url: '{{ path('tri_product') }}',
                data: {caracteristiques:caracteristiques, categorie:categorie},
                method: "POST",
                error: function (data) {
                    console.log('Erreur de trier les produit');
                },
                beforeSend:function(){
                    $('#store').html('<div class=text-center><div class="loader"></div></div>');
                }
                ,
                success: function (data) {
                    console.log(data['nbr']);
                    {#console.log('caracteristique');
                    console.log($(this).data('valeur'));
                    #}
                    $('#store').html(data['products']);
                    //setTimeout(function(){ $('#msg-alert').html('<div class="alert alert-success">'+data['message']+'</div><br><br>'); }, 3000);
                }
            });
            console.log(caracteristiques);
        });
        
        
        
        
    ////// Tri profuct by facteur
    $('.filter-product').change(function(){
        var caracteristiques = [];
        var valeur = $(this).val();
        var categorie =$('#categorieId').val();
        $('input[type="checkbox"]').each(function() {
            if($(this).prop("checked")){
                caracteristiques.push($(this).val());
            }else{
                var myVal = $(this).val();
               caracteristiques = caracteristiques.filter(function(elem){
                    return elem != myVal; 
                 });
            }
        });
        $.ajax({
            url: '{{ path('tri_product') }}',
            data: {valeur:valeur, categorie:categorie, caracteristiques:caracteristiques},
            method: "POST",
            error: function (data) {
                console.log('Erreur de trier les produit');
            },
            beforeSend:function(){
                $('#store').html('<div class=text-center><div class="loader"></div></div>');
            }
            ,
            success: function (data) {
                console.log(data['c']);
                $('#store').html(data['products']);
                //setTimeout(function(){ $('#msg-alert').html('<div class="alert alert-success">'+data['message']+'</div><br><br>'); }, 3000);
            }
        });
    });
    
    
</script>