{% extends "layoutCustomer.html.twig" %}
{% block css %}{% endblock %}
{% block body %}
<h1>Bonjour {{ app.user.username }} Espace client</h1>
<br>
<a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
{% endblock %}
{% block javascript %}{% endblock %}