{% extends "base.html.twig" %}
{% block title %}à propos{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
    <!-- NAVIGATION -->
    {% include 'includes/front/nav.html.twig' %}

    <!-- /NAVIGATION -->
    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{{ path('index_page') }}">Sindbad</a></li>
                <li class="active">à propos</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->



    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="order-summary clearfix">
                        <div class="section-title">
                            <h3 class="title">à propos de nous</h3>
                        </div>
                        
                        <ul>
                            <li>E-MALL est site e-commerce tunisien crée en 2019 spécialisé dans la vente de tous types de produits les vêtements et les accessoires
                                , les smartphones, les ordinateurs les meubles et tous les accessoires de la maison.
                            </li>
                            <li>Dans E-MALL vous trouvez tous ce que vous cherchez et même les vendeurs les plus proches de vous.</li>
                            <li>Vous pouvez vendre vos produits chez nous, <a href="{{ path('contact_page') }}">cliquze içi</a> et remplissez le formulaire en indiquant dans le champs <b>message</b> du formulaire les informations </li>
                        </ul>
                    </div>

                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->
{% endblock %}
{% block javascripts %}{% endblock %}
