{% extends "base.html.twig" %}
{% block title %}à propos{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
    <!-- NAVIGATION -->
    {% include 'includes/front/nav.html.twig' %}

    <!-- /NAVIGATION -->
    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{{ path('index_page') }}">Sindbad</a></li>
                <li class="active">à propos</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->



    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="order-summary clearfix">
                        <div class="section-title">
                            <h3 class="title">à propos</h3>
                            fejafpoeafjaepfjeapfojaefpojpoj
                        </div>
                    </div>

                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->
{% endblock %}
{% block javascripts %}{% endblock %}
